name: Build & Push React App to GHCR

on:
  push:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      # - name: Generate .env file from secrets
      #   run: |
      #     echo "REACT_APP_API=${{ secrets.REACT_APP_API }}" >> frontend/.env
      #     echo "REACT_APP_PORT=${{ secrets.REACT_APP_PORT }}" >> frontend/.env
      #     echo "REACT_APP_ENV=production" >> frontend/.env

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GHCR_PAT }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          context: ./frontend
          file: ./frontend/Dockerfile
          push: true
          tags: |
            ghcr.io/ncotista/test-autobuilt-image:latest
            ghcr.io/ncotista/test-autobuilt-image:${{ github.sha }}